<section class="section section-lg pt-lg-0 mt--200" style="background: url('{{'/assets/theme/img/splash/cover.jpg' | prepend: site.baseurl }}' ) no-repeat center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-calendar-grid-58"></i>
                    </div>
                    <h6 class="text-danger text-uppercase">The Wedding</h6>
                    <p class="description mt-3">2007-12-31</p>
                    <div class="intro--description--details"><span id="wedding" class="odometer"></span></div>
                    <a href="{{"/agenda" | prepend: site.baseurl }}" class="btn btn-warning mt-4 d-flex justify-content-center">Agenda</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-compass-04"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">The Venue</h6>
                    <p class="description mt-3">Procyon, Isidis, Mars</p>
                    <span class="intro--description--details"><i class="fa fa-map"></i> </span>
                    <a href="{{"/venue" | prepend: site.baseurl }}" class="btn btn-warning mt-4 d-flex justify-content-center">How to Get There</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-tie-bow"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">The Plan</h6>
                    <p class="description mt-3">We have been making plans</p>
                    <div class="intro--description--details">
                      <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                    <a href="{{"/updates" | prepend: site.baseurl }}" class="btn btn-warning mt-4 d-flex justify-content-center">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    </section>