<section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">

          {% comment %} <img src="../argon/assets/img/theme/promo-1.png" class="img-fluid floating"> {% endcomment %}

            <img src="{{ "/assets/images/science-two.jpg" | prepend: site.baseurl }}" class="img-center img-fluid">

          </div>

          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-info shadow rounded-circle mb-5">
                <i class="ni ni-atom"></i>
              </div>
              <h3>
                Science Fair
              </h3>
              <p>
                We all love science
              </p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-settings"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Boost Your Life</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Natural Science</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Community Effort</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>