<section class="section section-lg pt-lg-0 mt--200" style="background: url('{{'/assets/theme/img/splash/cover.jpg' | prepend: site.baseurl }}' ) no-repeat center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-calendar-grid-58"></i>
                    </div>
                    <h6 class="text-danger text-uppercase">典礼时间</h6>
                    <p class="description mt-3">2007 年 12 月 31 日</p>
			                <div class="intro--description--details"><span id="wedding" class="odometer"></span></div>
                    <a href="{{"/agenda" | prepend: site.baseurl }}" class="btn btn-warning mt-4 d-flex justify-content-center">典礼流程</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-compass-04"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">典礼地址</h6>
                    <p class="description mt-3">火星伊希地天狼城 <a href="https://interimm.org" style="text-decoration: none !important;" target="_blank"><i class="ni ni-bulb-61"></i></a></p>
                    <span class="intro--description--details"><i class="fa fa-map"></i> </span>
                    <a href="{{"/venue" | prepend: site.baseurl }}" class="btn btn-warning mt-4 d-flex justify-content-center">地址详情</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-tie-bow"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">计划</h6>
                    <p class="description mt-3">我们的婚礼设计历程</p>
                    <div class="intro--description--details">
                      <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                    <a href="{{"/updates" | prepend: site.baseurl }}" class="btn btn-warning mt-4 d-flex justify-content-center">阅读</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    </section>