
<section class="section section-lg">
    <a name="join-us"></a>
   <div class="container pt-lg pb-300">
     <div class="row text-center justify-content-center">
       <div class="col-lg-10">
         <h2 class="display-3 text-default">科学的婚礼</h2>
         <p class="lead text-default">有科学气息的婚礼，艺术与科学的糅合</p>
       </div>
     </div>
     <div class="row row-grid mt-5">
       <div class="col-lg-4">
         <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
           <i class="ni ni-settings text-warning"></i>
         </div>
         <h5 class="text-warning mt-3">生活常识</h5>
         <p class="text-default mt-3">科学也生活</p>
       </div>
       <div class="col-lg-4">
         <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-warning">
           <i class="ni ni-compass-04 text-warning"></i>
         </div>
         <h5 class="text-warning mt-3">自然科学</h5>
         <p class="text-default mt-3">科学不仅仅是生活</p>
       </div>
       <div class="col-lg-4">
         <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-warning">
           <i class="ni ni-spaceship text-warning"></i>
         </div>
         <h5 class="text-warning mt-3">贡献小知识</h5>
         <p class="text-default mt-3">非常感激提供更多的小知识给我们</p>
       </div>
     </div>
   </div>
   
 </section>